# SUPABASE CONNECTION
# Used for the app (Transaction Pooler)
DATABASE_URL="postgresql://postgres.[PROJ_ID]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Used for migrations (Direct Connection)
DIRECT_URL="postgresql://postgres.[PROJ_ID]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

# CLERK AUTH
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your_clerk_publishable_key"
CLERK_SECRET_KEY="your_clerk_secret_key"
